/.qtcreator
/build
/dist
/CMakeLists.txt.user
/CMakeUserPresets.json
/generators/out
/generators/*/test/.gradle
/generators/*/test/build
/generators/*/test/node_modules
/generators/*/test/dist
/generators/*/test/generated
/generators/*/test/generated-default
/generators/*/test/generated-validated
/website/node_modules
/website/.docusaurus
/website/.generated-static
/website/build
TODO-improvements.md
