/build
/dist
/CMakeLists.txt.user
/CMakeUserPresets.json
/generators/out
/test/kotlin_generators/classpath/.gradle
/test/kotlin_generators/classpath/build
/generators/*/test/.gradle
/generators/*/test/build
