{%- include "templates/_macros.ts.j2" -%}
{% if validateResponses -%}
{% for m in modelImports -%}
import { type {{ m }}, is{{ m }} } from "./{{ m }}{{ importExt }}";
{% endfor -%}
{% else -%}
{% for m in modelImports -%}
import type { {{ m }} } from "./{{ m }}{{ importExt }}";
{% endfor -%}
{% endif -%}
{{ docComment(model.description) }}export interface {{ model.name }} {
{% if model.properties %}{% filter indent(2, true) %}{% for p in model.properties %}{{ docComment(p.description) }}{{ p.keyLiteral }}{% if not p.required %}?{% endif %}: {{ p.tsType }}{% if p.nullable %} | null{% endif %};
{% endfor %}{% endfilter %}{% endif %}}
{% if validateResponses %}

{{ guardSource }}
{% endif -%}
