{% for m in modelImports -%}
import type { {{ m }} } from "./{{ m }}{{ importExt }}";
{% endfor -%}
{% if model.description %}/** {{ model.description }} */
{% endif -%}
export type {{ model.name }} = {{ model.targetType }};
