{% if validateResponses -%}
{% for m in modelImports -%}
import { type {{ m }}, is{{ m }} } from "./{{ m }}{{ importExt }}";
{% endfor -%}
{% else -%}
{% for m in modelImports -%}
import type { {{ m }} } from "./{{ m }}{{ importExt }}";
{% endfor -%}
{% endif -%}
{% if model.description %}/** {{ model.description }} */
{% endif -%}
export interface {{ model.name }} {
{% for p in model.properties -%}
  {% if p.description %}/** {{ p.description }} */
  {% endif -%}
  {{ p.keyLiteral }}{% if not p.required %}?{% endif %}: {{ p.tsType }}{% if p.nullable %} | null{% endif %};
{% endfor -%}
}
{% if validateResponses %}

{{ guardSource }}
{% endif -%}
