{%- include "templates/_macros.kt.j2" -%}
package {{ apisPackage }}

{% if referencedModels %}import {{ modelsPackage }}.*

{% endif %}{{ docComment(tagDescription) }}interface {{ tagClass }}Handler {
{% for op in operations -%}
{% if op.docComment %}    {{ op.docComment | indent(4) }}
{% endif %}    suspend fun {{ op.name }}({{ op.signatureParams }}){% if op.returnsValue %}: {{ op.response.type }}{% endif %}

{% endfor -%}
}
