package {{ packageName }}

import kotlinx.serialization.ExperimentalSerializationApi
import kotlinx.serialization.Serializable
import kotlinx.serialization.json.JsonClassDiscriminator

{% if model.description %}/** {{ model.description }} */
{% endif -%}
@OptIn(ExperimentalSerializationApi::class)
@Serializable
@JsonClassDiscriminator({{ toStringLiteral(model.discriminatorProperty) }})
sealed interface {{ model.name }}
